* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("cc.webp")no-repeat;
    background-size: cover;
    background-position: center;
}




header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    color: beige;
    font-size: 30px;
    user-select: none;

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: beige;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: 1.1s;
}

.navigation .btn:hover {
    background: white;
    border-radius: 10px;
    color: black;
}

.fromlogin {
    height: 100px;
    width: 300px;
    border: 2px solid #e9edc9;
    padding: 10px 10px;
    margin: auto;
    backdrop-filter: blur(15px);
}

input {
    background-color: transparent;


}